# Robot P2P Configuration
# Copy this to .env and set your secrets

# The unique ID for your robot on the PeerJS network
ROBOT_ID=robot1

# The secret password required by operators to connect
# LEAVE BLANK TO DISABLE AUTH (Not recommended)
ROBOT_PASSWORD=94260

# Internal Port for ROS2 Communication (Internal Bridge)
IPC_PORT=8765
